<!DOCTYPE html>
<html>
  <head>
    <title>ArtSearchApiRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="window-holder">
    <body>
      <%= yield %>
    </body>
  </div>

</html>
